Flask==3.0.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.11
Werkzeug==3.0.1
sqlalchemy==2.0.36
gunicorn==23.0.0
Flask-Mail
openpyxl
pandas
cryptography
cryptography
Flask==3.0.0
Flask-Mail
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
openpyxl
pandas
psycopg2-binary==2.9.11
sqlalchemy==2.0.36
Werkzeug==3.0.1
